@font-face {
    font-family: 'Circular Std Book';
    src: url('../fonts/CircularStd-Book.woff2') format('woff2'),
        url('../fonts/CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-Medium.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}