footer {
    background: url(../images/footer-bg.png);
    @include background-image;
    padding: 105px 0 0 0;
    
    .footer-logo img{
        @include media("tablet"){
            width: 250px;
        }
}
    .footer-detalis {
        padding-bottom: 60px;
        border-bottom: 1px solid $light;
    }

    .footer-data {
        max-width: 896px;
        margin: 0 auto;

        .footer-logo {
            display: block;
            margin: 0 auto 70px auto;
            max-width: fit-content;
            @include media("tablet"){
                margin: 0 auto 20px auto;
            }
        }

        span {
            @include text-styles(16px, 1.7, $light, 43px);
            font-family: $primary-font;
            text-align: center;
            display: block;
        }

        .footer-links {
            @include flexbox(space-between, center);
            max-width: 610px;
            margin: 0 auto 43px auto;
            padding-left: 0;
            @include media("tablet"){
                flex-direction: column;
            }
            a {
                @include text-styles(16px, 1.7, $light, 0);
                font-family: $primary-font;
            }
        }

        .footer-icon {
            @include flexbox(space-between, center);
            max-width: 233px;
            margin: 0 auto;
            width: 100%;
        }
    }

    .footer-bottom {
        border-top: 1px solid $half-white;

        span {
            @include text-styles(16px, 1, $light, 0);
            font-family: $primary-font;
            text-align: center;
            display: block;
            padding: 35px 0;
        }
    }
}