$main-color:#A53240;
$btn-color:#9D303E;
$subtitle-color:#2A376C;
$light:#fff;
$brown:#5A5A5A;
$black:#000;
$crimson:#9C2F3C;
$darkblur:#00171F;
$half-white:#F8F8F8;

$primary-font:'Circular Std Book';
$secondry-font:'Tiempos Headline';

$transition: all 0.3s ease;

